:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-from:hsl(37, 97%, 70%);
  --instagram-to: hsl(329, 70%, 58%);
  --youTube: hsl(348, 97%, 39%);
  --toggle-from: hsl(230, 22%, 74%);
  --toggle-to: hsl(230, 22%, 74%);
  --bg: hsl(0, 0%, 100%);
  --top-bg: hsl(225, 100%, 98%);
  --stat-bg: hsl(227, 47%, 96%);
  --text: hsl(228, 12%, 44%);
  --dark-text: hsl(230, 17%, 14%); }

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: var(--text);
  transition: all .4s; }

.top {
  background-color: var(--top-bg);
  height: 30vh;
  transition: all .4s; }
  @media only screen and (max-width: 46.88em) {
    .top {
      height: 40vh; } }

.container {
  max-width: 70vw;
  margin: 0 auto;
  transform: translateY(-15rem); }
  @media only screen and (max-width: 46.88em) {
    .container {
      max-width: 85vw;
      transform: translateY(-20rem); } }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 46.88em) {
    .header {
      flex-direction: column;
      align-items: stretch; } }
  @media only screen and (max-width: 46.88em) {
    .header div:first-child {
      padding: 1rem 0 2rem;
      border-bottom: 1px solid var(--text); } }
  .header__heading {
    color: var(--dark-text);
    font-size: 3.5rem;
    transition: all .4s;
    padding-bottom: .5rem; }
    @media only screen and (max-width: 46.88em) {
      .header__heading {
        font-size: 2.5rem; } }
  .header__toggle-box {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 1rem; }
    @media only screen and (max-width: 46.88em) {
      .header__toggle-box {
        justify-content: space-between;
        margin-top: 2rem; } }
  .header__toggler {
    border: none;
    background-image: linear-gradient(to right, var(--toggle-from), var(--toggle-to));
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
    padding-top: .25rem;
    cursor: pointer;
    transition: all .2s; }
    .header__toggler::before {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background-color: var(--stat-bg);
      transform: translateX(-0.7rem);
      transition: all .4s; }

.change-positive {
  color: var(--lime-green); }

.change-negative {
  color: var(--bright-red); }

.attribution {
  width: fit-content;
  margin: 0 auto;
  text-align: center; }
  .attribution a {
    text-decoration: none;
    color: var(--dark-text);
    transition: all .4s; }

.followers-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 4rem;
  grid-row-gap: 2rem; }

.followers-stat {
  background-color: var(--stat-bg);
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 2rem;
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem; }
  .followers-stat::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: .4rem;
    background-color: red;
    transform: translateY(-1rem);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%; }
  .followers-stat > * {
    display: flex;
    align-items: center; }
  .followers-stat__media span {
    margin-left: 1rem; }
  .followers-stat__number {
    flex-direction: column; }
    .followers-stat__number span:first-child {
      font-size: 5rem; }
    .followers-stat__number .text {
      text-transform: uppercase;
      margin-top: .5rem;
      font-size: 1.4rem;
      letter-spacing: .15rem; }
  .followers-stat__change svg {
    margin-right: .5rem; }

#facebook::before {
  background-color: var(--facebook); }

#twitter::before {
  background-color: var(--twitter); }

#instagram::before {
  background-image: linear-gradient(to right, var(--instagram-from), var(--instagram-to)); }

#youtube::before {
  background-color: var(--youTube); }

.interaction-stats {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem; }

.interaction__stat {
  background-color: var(--stat-bg);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-row-gap: 2rem;
  padding: 2rem;
  border-radius: .3rem; }
  .interaction__stat p:nth-child(even) {
    text-align: end; }
  .interaction__stat p:nth-child(3), .interaction__stat p:nth-child(4) {
    display: flex;
    align-items: center; }
  .interaction__stat p:nth-child(4) {
    justify-content: end; }

.interaction__number {
  font-size: 2rem; }

.interaction__change svg {
  transform: translateX(-0.7rem); }

.followers-stat__number span:first-child, .interaction__number {
  font-weight: 700;
  color: var(--dark-text); }
